```gitignore
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
.gradle/
*.apk
*.aar
*.jks
local.properties

# iOS
Pods/
Runner.xcworkspace/
*.xcuserstate

# Linux / Windows / Web
linux/flutter/
windows/flutter/
web/flutter/

# Firebase
firebase.json
